body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #F0EAD2;
  color: white;
}

.present {
  background-color: #ADC178;
  color: white;
}

.future {
  background-color: #DDE5B6;
  color: white;
}

.saveBtn {
  
  
  
  background-color: #227C9D;
  color: white;
}

.saveBtn:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  background-color: #0787a4;
}
.deleteBtn {
  
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #FE6D73;
  
  color: white;
}
.deleteBtn:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  background-color: #964346;
}